/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "compass";
@import "susy";
@import "variables";
@import "base";
@import "layout";
@import "module";
@import "state";

// Configuring Susy Defaults
$susy: (
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        debug: (
                image: show,
                toggle: top right,
        ),
);


$main-nav-height: 2.5em;
$footer-width: 16em;

/*
** =Base
************************/
body {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}

html {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;

  background: #577685;

  @media (min-width: 800px) {
    background: red;
  }

  @media (min-width: 1200px) {
    background: orange;
  }
}

ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.5rem;
}

img {
  max-width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;

  @media (min-width: 800px) {
    @include span(8);
    margin: 0 auto;
    float: none;
    margin-top: 4em;
  }
}

h1 {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  background: #ffffff;
  display: inline-block;
  margin: 1.5em 0 1em 2em;
  padding: .25em 1em;
  /*margin-left: 2.5em;
  margin-bottom: 1em;*/
  position: relative;
  font-size: 1em;
  line-height: 1.5em;

  @media (min-width: 800px) {
    font-size: 1.5em;
  }
}

h2::before {
  @extend .before;
}

h2::after {
  @extend .after;
}

h3 {
  margin: .5rem 0 1rem 0;
  line-height: 1.5rem;
}

h4 {
  font-size: 1em;
  line-height: 1.5rem;
  margin: 2rem 0 1rem;
}

/*
** =Layout
************************/
.news,
.biography,
.sportler,
.steckbrief,
.statistik
main {
  @include clearfix;
}

.container {
  @include container;
  @include clearfix;

  // Changing to a 8 column grid
  @media (min-width: 800px) {
    @include show-grid(8);
  }

  // Changing to a 12 column grid
  @media (min-width: 1200px) {
    @include show-grid(12);
  }
}

.page-header {
  background: white;
  padding: .75em 1em;
  border-bottom: 1px solid #efefef;
}

/*
** =Module
************************/
.before {
  content: "";
  height: 0;
  width: 0;
  display: inline-block;
  border-bottom: 2em solid #ffffff;
  border-left: 2em solid transparent;
  position: absolute;
  left: -2em;
  top: 0;
}

.after {
  content: "";
  height: 0;
  width: 0;
  display: inline-block;
  border-bottom: 2em solid transparent;
  border-left: 2em solid #ffffff;
  position: absolute;
  right: -2em;
  top: 0;
}

.uppercase {
  text-transform: uppercase;
}

.logo {
  background: url("../img/logo-mobile.png") 50% 0 no-repeat;
  width: 100%;
  height: 72px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  @media (min-width: 800px) {
    background: url("../img/logo.png") 0 0 no-repeat;
    background-size: 100%;
    width: span(3) + gutter(12);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
  }
}

[role="navigation"] {
  position: fixed;
  top: 1em;
  right: 1.7em;
  width: 70%;
  font-size: 0.875rem;
  padding: 0px;
  margin: 0px;
  min-height: 0;
  background: transparent;
}

.control {
  display: block;
  position: fixed;
  top: 0.35em;
  right: 5%;
  text-decoration: none;
  color: black;
  padding: .625em;
  font-size: 2em;

  @media (min-width: 800px) {
    display: none;
  }
}

.active-nav .control {
  color: white;
}

section.news {
  display: none;
}

.news_entry {

  time {
    display: block;
    margin: .75em 0;
  }

  @media (min-width: 800px) {
    @include span(4 of 8);

    &:nth-child(odd) {
      margin-right: 0;
      float: right;
    }
  }
}

.news-text {
  background: rgba(255, 255, 255, .5);
  margin-bottom: 3em;

  & > p {
    padding: 0 1em;
  }

  p:last-child {
    padding-bottom: 1.5rem;
  }

  header {
    padding: .5em 1em;
    background: #ffffff;

    h3 {
      margin: 0;
      line-height: 1.5em;
      font-weight: 400;
    }
  }

  @media (min-width: 800px) {
    @include span(3 of 4 last);
  }
}

.news-summary {
  margin: 1.5em 0;
  font-style: italic;
}

section.biography {
  display: none;
}

.biography_text {
  background: rgba(255, 255, 255, .5);
  padding: 1.5em;

  @media (min-width: 800px) {
    @include span(5 of 8 last);
    padding: gutter(8);
  }

}

.biography{
  h3 {
    margin: .5rem 0 1rem 0;
    line-height: 1.5rem;
  }

  h4 {
    font-size: 1em;
    line-height: 1.5rem;
    margin: 2rem 0 1rem;
  }
}

.vereine {
  display: none;
}

.verein {
  margin-bottom: 1em;
}

.verein-date {
  background: #ffffff;
  margin-left: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 0.875em;
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.verein-date::before {
  content: "";
  height: 0;
  width: 0;
  display: inline-block;
  border-bottom: 1.5em solid #ffffff;
  border-left: 1.5em solid transparent;
  position: absolute;
  left: -1.5em;
}

.verein-date::after {
  content: "";
  height: 0;
  width: 0;
  display: inline-block;
  border-bottom: 1.5em solid transparent;
  border-left: 1.5em solid #ffffff;
  position: absolute;
  right: -1.5em;
  top: 0;
}

.verein-logo {
  background: #ffffff;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: center;
  font-size: .75em;

  @media (min-width: 800px) {
    width: span(2 of 8);
  }
}

.verein-logo p {
  font-style: italic;
  margin: 0;
}

.verein-gallery {
  margin: .75rem 0;
  text-align: center;

  li {
    background: rgba(255, 255, 255, .5);
    padding: 1.5rem;
    border-bottom: 1px black solid;

    &:last-child {
      border: none;
    }
  }
}

section.steckbrief {
  display: none;
}

.steckbrief > div {
  padding: 1.5rem .5rem;
  background-color: rgba(255, 255, 255, .5);

  @media (min-width: 800px) {
    padding: gutter(8);
  }
}

.steckbrief-table td {
  padding: .75rem 0;
}

.steckbrief-table p {
  margin: 0;
}

.steckbrief-table tr td:first-child {
  text-align: right;
  vertical-align: top;
  color: #333333;
  font-weight: bold;
  width: 33.3%;

  &:after {
    content: " /";
  }

  @media (min-width: 800px) {
    width: span(2 of 8) - gutter(8);
    text-transform: uppercase;
  }
}

.steckbrief-table tr td:last-child {
  padding-left: gutter(8);
}

section.statistik {

}

.statistik {
  font-size: .875em;
}

.statistik > div {
  background: rgba(255, 255, 255, .5);
  padding: 1.5rem 1rem;

  @media (min-width: 800px) {
    padding: gutter(8);
  }

}

.statistik-table {
  width: 100%;
}

.statistik-table th, .statistik-table td {
  border-right: 1px solid #adadad;
  padding: .5em 1em;
}

.statistik-table td:last-child {
  border: none;
}

.statistik-table tr:nth-child(odd) {
  background: #ffffff;
}

.statistik-table tr:nth-child(even) {
  background: rgba(255, 255, 255, .5);
}

section.gallery {
  display: none;
}

.gallery-list {
  margin: 0;
  padding: 1.5rem;
  @include clearfix;
  background: rgba(255, 255, 255, .5);

  @media (min-width: 800px) {
    padding: 2em 0;
    padding-left: span(1 of 8) + gutter(8);
    padding-right: span(1 of 8) + gutter(8);
  }
}

.gallery-item {
  background: #ffffff;
  float: left;
  padding: .75rem;
  width: 47.5%;
  margin-right: 5%;
  margin-bottom: 5%;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: 800px) {
    width: span(2 of 6);
    height: span(2 of 6 );
    margin-right: gutter(6);
    margin-bottom: gutter(6);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}

section.charity {
  display: none;
}

.charity-header-img {
  display: none;
}

.charity article {
  background: rgba(255, 255, 255, .5);
  padding: 1.5rem;
  margin-bottom: 1.5rem;

  @media (min-width: 800px) {
    padding-left: gutter(8) + span(1 of 8);
    padding-right: gutter(8) + span(1 of 8);
    padding-bottom: 2em;
  }

}

.charity article h3 {
  margin: 0 0 1.5rem;
  background: url("../img/article-header-bg.png") no-repeat left 50%;
  padding-left: 48px;
}

.charity article img {
  float: left;
  padding: 0 1em 1em 0;
  max-width: 50%;

  @media (min-width: 800px) {
    max-width: span(2 of 6) + gutter(8);
    padding-right: gutter(8);
  }
}

.contact{
  clear: both;
  @include span(full);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  h2 {
    @media (min-width: 800px) {
      margin-left: span(2 of 12) + gutter(12);
    }
  }

  h3 {
    margin: 1rem 0 .5rem;
  }

  & > div {
    background: rgba(255, 255, 255, .5);
    @include clearfix;
    padding: 1.5rem;

    @media (min-width: 800px) {
      width: span(8);
      margin: gutter(8) auto;
      padding: gutter(8);
      margin-top: 0;
    }
  }

  @media (min-width: 800px) {
    background: rgba(255, 255, 255, .5);
  }
}

.contact-management, .contact-interview {
  @media (min-width: 800px) {
    @include span(3 of 8);
  }
}

.contact-map {
  @media (min-width: 800px) {
    @include span(2 of 8 last);
  }
}

footer {
  width: 100%;
  height: auto;
  border-top: .28125em solid black;
  padding: .5625em 2em;
  background: #ffffff;
  @include clearfix;

  a {
    @include link-colors(gray, black);

    &.active {
      color: black;
    }
  }

  .social-media {
    float: right;
    margin-left: 1em;

    li {
      float: left;
    }

    a {
      margin-left: 15px;
      padding: 0;

      i {
        line-height: 2em;
      }
    }
  }

  .adidas {
    float: left;

    img {
      margin: 0;
      display: block;
      height: 36px;

    }
  }

  .lang {
    float: right;
    margin: 0;
    line-height: 2em;

    li {
      float: right;

      a {
        padding-left: .5em;
        font-size: 1.2em;
      }
    }
  }

  @media (min-width: 800px) {
    height: 100%;
    background: url("../img/footer-edge.png") no-repeat right bottom;
    background-size: 100%;
    text-align: right;
    width: span(3) + gutter(12);
    position: fixed;
    bottom: 0;
    right: 0;

    .social-media {
      i {
        font-size: 1.5em;
      }

      li {
        float: none;
      }
    }

    .lang {
      margin-top: 13px;
      float: right;
      font-size: 0.8em;
    }

    .adidas {
      float: right;
      margin-right: 2em;
    }
  }

  @media (min-width: 1200px) {
    width: span(2) + gutter(12);
  }
}

.footer-inner {
  padding: 0;
  position: relative;

  @media (min-width: 800px) {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    width: 100%;
  }
}

/*
** =State
************************/

/*
** =Theme
************************/

@include border-box-sizing;

[role="navigation"] {
  width: 95%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin-right: -95%;
  bottom: 0;
  height: 100%;
  background: black;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  box-shadow: 1px 10px 4px 6px rgba(0, 0, 0, 0.25);

  @media (min-width: 1200em) {
    [role="navigation"] {
      width: 100%;
      right: 3em;
    }
  }
}

.active-nav [role="navigation"] {
  margin-right: 0;
}

.main-nav {
  text-align: center;
  margin-top: 1.5rem;

  ul {
    a {
      font-size: 1rem;
      padding: .75rem;
      font-weight: 100;
    }
  }

  > li {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  > li:last-child {
    border-bottom: none;
  }

  a {
    color: white;
    margin: 0;
    padding: 1.5rem 0;
    line-height: 1.5rem;
    font-size: 1.5em;
    display: block;
    height: 100%;

    &:hover {
      color: black;
      background: white;
    }
  }

  @media (min-width: 800px) {
    li {
      a {
        margin-right: 0px;
        padding-right: 5px;
        padding-left: 5px;

      }
      a:before, a:after {
        display: none;
        margin: 0;
      }
      &:first-child {
        a:before {
          display: block;
        }
      }
      &:last-child {
        a:after {
          display: block;
        }
      }
      &:hover ul {
        margin-left: 0;
      }
    }
  }

  @media (min-width: 1200px) {
    float: right;
    text-transform: uppercase;

    ul {
      display: inline;
      visibility: hidden;
      position: absolute;
      padding: 0px;

      a {
        border: none;
        text-align: left;
      }

      li {
        float: none;
      }
    }

    li {
      float: left;

      a {
        height: $main-nav-height;
        font-weight: bold;
        padding: $main-nav-height / 5 0.1em;
        margin-right: $main-nav-height;
        display: block;
        color: #333;
        text-align: center;
        position: relative;
        background: rgba(255, 255, 255, 0.8);

        &:before {
          content: "";
          height: 0;
          width: 0;
          display: inline-block;
          border-bottom: 2em solid #ffffff;
          border-left: 2em solid transparent;
          position: absolute;
          left: -2em;
          top: 0;
          border-bottom: $main-nav-height solid rgba(255, 255, 255, 0.8);
          border-left: $main-nav-height solid transparent;
          left: - $main-nav-height;
        }

        &:after {
          content: "";
          height: 0;
          width: 0;
          display: inline-block;
          border-bottom: 2em solid transparent;
          border-left: 2em solid #ffffff;
          position: absolute;
          right: -2em;
          top: 0;
          border-bottom: $main-nav-height solid transparent;
          border-left: $main-nav-height solid rgba(255, 255, 255, 0.8);
          right: - $main-nav-height;

        }
      }

      &:hover, .active {
        cursor: pointer;

        a {
          background: #ffffff;

          &::before {
            border-bottom-color: #ffffff;
          }

          &::after {
            border-left-color: #ffffff;
          }
        }

        ul {
          visibility: visible;
          margin-left: - $main-nav-height;

          a::before, a::after {
            border: none;
          }

          a {
            padding-left: $main-nav-height / 5 + 0.2;
            padding-right: $main-nav-height / 5 + 0.2;

            &:hover {
              background: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }
  }
}
